@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width:275px;
    margin:0 auto;
    text-align: center;
}

.column{

}

.panel-default{
    width: 80%;
    margin: auto;
}
#header{
    text-align: center;
}

#header > a{
    
}
#footer{
    font-size: 5pt;
}


#airline{
    float: left;

}
#price{
    float: right;   
}

.list-group{
    width: 80%;
    margin: auto;
}
#nav{
    margin-bottom: 5pt;
}

#flightinfo{
    
}
