@charset "UTF-8";
@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Source+Sans+Pro:300");

body{
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    width:290px;
    margin:0 auto;
    text-align: center;
}

#wrap{
    background-color: #cce6ff;
}

.panel-primary{
    width: 80%;
    margin: auto;
}
#header{
    text-align: center;
    color: #a6a6a6   !important; 
}

#header > a{
    
}
#footer{
    font-size: 5pt;
    background-color: #cce6ff;
}


#airline{
    float: left;

}
#price{
    float: right;   
}

.list-group{
    width: 80%;
    margin: auto;
}
#nav{
    margin-bottom: 5pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}
.menu{
    display: inline-block;
}
#back{
   
    border: solid;
    border-radius: 20%;
    border-color:dimgray;
}
#fromto{
    
}
#graph{       
    border: solid;
    border-radius: 20%;
    border-color:dimgray;
}
.list-group-item{
  color: #66b3ff;
  background-color: #e6e6ff !important;
  border-color: #66b3ff;
    font-weight: bold;
}

.list-group-item:hover{
    background-color: white !important;
    color: #5bc0de;
}
a{
    text-decoration: none !important;
}

.overlay{
   display: none;
}

